<div class="category-product-container">
  <div class="category-product-container__category-product-wrapper">
    <div
      [ngClass]="{ 'img-text-left': textLeft }"
      class="category-product-container__category-product-wrapper__product-photo"
    >
      <img [src]="baseLink" alt="" />
    </div>
    <div
      [ngClass]="{ 'text-content-left': textLeft }"
      class="category-product-container__category-product-wrapper__text-content"
    >
      <p class="overline" *ngIf="product.new">NEW PRODUCT</p>
      <h2 class="h2">{{ product.name }}</h2>
      <p class="bodytext">{{ product.description }}.</p>
      <app-button btnLabel="SEE PRODUCT" className="btn-default-1"></app-button>
    </div>
  </div>
</div>
