@import "../../../assets/styles/variables.scss";

.category-product-container {
  max-width: 1110px;
  margin: auto;
  margin-top: 160px;

  &__category-product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__product-photo {
      border-radius: 8px;
      max-width: 540px;
      width: 100%;
      max-height: 560px;
      height: 100%;
      overflow: hidden;
      background-color: $lightGrey;
      img {
        width: 100%;
      }
    }
    &__text-content {
      max-width: 445px;
      margin-left: 32px;
      h2 {
        span {
          color: $darkOrange;
        }
      }
      p.bodytext {
        color: #7d7d7d;
        margin-top: 32px;
      }

      .overline {
        color: $darkOrange;
        margin-bottom: 16px;
      }

      app-button {
        display: inline-block;
        margin-top: 40px;
      }
    }
  }
}

.img-text-left {
  order: 2;
}

.text-content-left {
  order: 1;
  margin-right: 32px;
  margin-left: 0;
}

@media screen and (max-width: 920px) {
  .category-product-container {
    &__category-product-wrapper {
      flex-direction: column;
      &__product-photo {
        width: 100%;
        max-width: unset;
        height: 300px;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
        }
      }
      &__text-content {
        max-width: 573px;
        order: 2;
        margin-left: unset;
        text-align: center;
        margin-top: 63px;
      }
    }
  }

  .text-content-left {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .category-product-container {
    &__category-product-wrapper {
      &__text-content {
        margin-top: 40px;

        h2 {
          font-size: 28px;
          letter-spacing: 1px;
          line-height: unset;
        }
      }
    }
  }
}
