<div class="product-gallery-container">
  <div class="product-gallery-container__product-gallery-wrapper">
    <div
      class="product-gallery-container__product-gallery-wrapper__left-photos-wrapper"
    >
      <div class="photo">
        <img
          src="../../../assets/product-xx59-headphones/desktop/image-gallery-1.jpg"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="../../../assets/product-xx59-headphones/desktop/image-gallery-2.jpg"
          alt=""
        />
      </div>
    </div>
    <div
      class="product-gallery-container__product-gallery-wrapper__big-photo-wrapper"
    >
      <div class="big-photo">
        <img
          src="../../../assets/product-xx59-headphones/desktop/image-gallery-3.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
