<div class="product-gallery-container">
  <div class="product-gallery-container__product-gallery-wrapper">
    <div
      class="product-gallery-container__product-gallery-wrapper__left-photos-wrapper"
    >
      <div class="photo">
        <img [src]="baseLink + '1.jpg'" alt="" />
      </div>
      <div class="photo">
        <img [src]="baseLink + '2.jpg'" alt="" />
      </div>
    </div>
    <div
      class="product-gallery-container__product-gallery-wrapper__big-photo-wrapper"
    >
      <div class="big-photo">
        <img [src]="baseLink + '3.jpg'" alt="" />
      </div>
    </div>
  </div>
</div>
