@import "../../../../assets/styles/variables.scss";

label {
  display: flex;
  flex-direction: column;

  span {
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: bold;
    margin-bottom: 9px;
  }
}

.input {
  font-size: 14px;
  font-weight: bold;
  padding: 17px 24px;
  letter-spacing: -0.25px;
  outline: unset;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  color: $black;
  transition: 0.2s;
}

.input::placeholder {
  color: #999999;
}

.input:focus {
  border: 1px solid $darkOrange;
}

.input:user-invalid {
  border: 1px solid $invalidRed;
}
