<div class="checkout-summary-container">
  <div class="checkout-summary-container__wrapper">
    <h6 class="h6">Summary</h6>
    <div class="checkout-summary-container__wrapper__cart">
      <app-checkout-item></app-checkout-item>
      <app-checkout-item></app-checkout-item>
      <app-checkout-item></app-checkout-item>
    </div>
    <div class="checkout-summary-container__wrapper__summary-details">
      <p class="p-title">
        <span class="bodytext">TOTAL</span><span class="h6 grey">$ 5,396</span>
      </p>
      <p class="p-title">
        <span class="bodytext">SHIPPING</span><span class="h6">$ 50</span>
      </p>
      <p class="p-title">
        <span class="bodytext">VAT (INCLUDED)</span
        ><span class="h6">$ 1,079</span>
      </p>
      <p class="p-title p-grand-total-title">
        <span class="bodytext">GRAND TOTAL</span><span class="h6">$ 5,446</span>
      </p>
      <app-button
        (click)="continueAndPay()"
        className="btn-default-1"
        btnLabel="CONTINUE & PAY"
      ></app-button>
    </div>
  </div>
</div>
<app-checkout-modal [modal]="modal"></app-checkout-modal>
