.checkout-summary-container {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  width: 350px;

  margin-left: 1rem;

  &__wrapper {
    h6 {
      margin-bottom: 2rem;
    }

    &__cart {
      margin-bottom: 2rem;

      app-checkout-item {
        display: block;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &__summary-details {
      .p-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        .h6 {
          letter-spacing: 0px;
        }

        .bodytext {
          color: #808080;
        }
      }

      .p-grand-total-title {
        margin-top: 1.5rem;
      }

      app-button {
        display: block;
        margin-top: 2rem;
      }
    }
  }
}
