@import "../../../assets/styles/variables.scss";

.checkout-summary-container {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  width: 350px;

  margin-left: 1rem;

  &__wrapper {
    h6 {
      margin-bottom: 2rem;
    }

    .grey {
      color: #808080;
    }

    &__cart {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      app-checkout-item {
        display: block;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      .bodytext {
        text-align: center;
        color: $darkerGrey;
      }
    }

    &__summary-details {
      .p-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        .h6 {
          letter-spacing: 0px;
        }

        .bodytext {
          color: #808080;
        }
      }

      .p-grand-total-title {
        margin-top: 1.5rem;
      }

      app-button {
        display: block;
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .checkout-summary-container {
    background-color: white;
    width: 100%;
    margin-left: unset;
    margin-top: 2rem;
  }
}
