ul {
  display: flex;
  flex-direction: row;
}

ul .nav-link {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

ul .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
  margin-right: 2rem;
  transition: 0.2s;
}

ul .nav-link a:hover {
  color: orange;
}
