<div class="footer-container">
  <div class="footer-container__footer-wrapper">
    <div class="footer-container__footer-wrapper__footer-links">
      <div class="footer-container__footer-wrapper__footer-links__logo">
        <img src="../../../assets/shared/desktop/logo.svg" alt="" />
      </div>
      <ul>
        <li class="nav-link"><a href="">HOME</a></li>
        <li class="nav-link"><a href="">HEADPHONES</a></li>
        <li class="nav-link"><a href="">SPEAKERS</a></li>
        <li class="nav-link"><a href="">EARPHONES</a></li>
      </ul>
    </div>
    <div class="footer-container__footer-wrapper__footer-info">
      <p class="bodytext">
        Audiophile is an all in one stop to fulfill your audio needs. We're a
        small team of music lovers and sound specialists who are devoted to
        helping you get the most out of personal audio. Come and visit our demo
        facility - we’re open 7 days a week.
      </p>
    </div>
    <div class="footer-container__footer-wrapper__footer-disclaimer">
      <p class="bodytext">Copyright 2024. All Rights Reserved</p>
      <div
        class="footer-container__footer-wrapper__footer-disclaimer__social-links"
      >
        <a href="#"
          ><img
            src="../../../assets/shared/desktop/icon-facebook.svg"
            alt="Twitter"
        /></a>
        <a href="#"
          ><img
            src="../../../assets/shared/desktop/icon-twitter.svg"
            alt="Twitter"
        /></a>
        <a href="#"
          ><img
            src="../../../assets/shared/desktop/icon-instagram.svg"
            alt="Instagram"
        /></a>
      </div>
    </div>
  </div>
</div>
