.product-info-container {
  padding: 0 2rem;
  margin-top: 96px;

  &__product-info-wrapper {
    max-width: 1110px;
    margin: auto;

    app-secondary-info,
    app-tertiary-info {
      margin-top: 32px;
    }
  }
}
