<div class="header-container">
  <div class="header-container__header-wrapper">
    <div class="header-container__header-wrapper__header-text-content">
      <h3 class="overline">NEW PRODUCT</h3>
      <h1 class="h1">XX99 Mark II Headphones</h1>
      <p class="bodytext">
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>
      <app-button
        btnLink="/product/4"
        btnLabel="SEE PRODUCT"
        className="btn-default-1"
      ></app-button>
    </div>
    <div class="header-container__header-wrapper__hero-img">
      <img src="assets/home/desktop/image-hero-headphones.png" alt="" />
    </div>
  </div>
</div>
