@import "../../../styles.scss";

.header-container {
  background-color: $mainHeaderBackground;
  padding: 0 2rem;
  height: 729px;

  &__header-wrapper {
    max-width: 1110px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    app-button {
      display: inline-block;
    }

    &__hero-img {
      margin-right: -120px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__header-text-content {
      max-width: 398px;

      .overline {
        color: #898989;
      }

      .h1 {
        color: $white;
        margin-top: 1.5rem;
        transition: 0.2s;
      }

      .bodytext {
        color: #c4c4c4;
        max-width: 349px;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .header-container {
    background-color: $mainHeaderBackground;
    padding: 0 2rem;
    height: 729px;

    &__header-wrapper {
      &__hero-img {
        margin-right: -40px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header-container {
    background-image: url("../../../assets/home/desktop/image-hero-headphones.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__header-wrapper {
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100%;

      &__header-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__hero-img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header-container {
    &__header-wrapper {
      &__header-text-content {
        .h1 {
          font-size: 38px;
          line-height: 40px;
          letter-spacing: 1.29px;
        }
      }
    }
  }
}
