@import "../../../assets/styles/variables.scss";

.product-top-container {
  max-width: 1110px;
  margin: auto;
  margin-top: 160px;
  &__product-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__product-photo {
      background-image: url("../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      border-radius: 8px;
      max-width: 540px;
      width: 100%;
      height: 560px;
    }
    &__text-content {
      max-width: 445px;
      margin-right: 32px;
      h2 {
        span {
          color: $darkOrange;
        }
      }
      p {
        color: #7d7d7d;
        margin-top: 32px;
      }

      .overline {
        color: $darkOrange;
        margin-bottom: 16px;
      }

      h6 {
        margin-top: 32px;
      }
      .add-to-cart {
        display: flex;
        align-items: center;
        margin-top: 47px;
        app-button {
          display: inline-block;
          margin-left: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .product-top-container {
    &__product-top-wrapper {
      flex-direction: column;
      &__product-photo {
        background-image: url("../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg");
        background-size: cover;
        width: 100%;
        max-width: unset;
        height: 300px;
        order: 1;
      }
      &__text-content {
        max-width: 573px;
        order: 2;
        margin-right: unset;
        text-align: center;
        margin-top: 63px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .product-top-container {
    &__category-product-wrapper {
      &__text-content {
        margin-top: 40px;

        h2 {
          font-size: 28px;
          letter-spacing: 1px;
          line-height: unset;
        }
      }
    }
  }
}
