<div class="product-top-container">
  <div class="product-top-container__product-top-wrapper">
    <div
      class="product-top-container__product-top-wrapper__product-photo"
    ></div>
    <div class="product-top-container__product-top-wrapper__text-content">
      <p class="overline" *ngIf="newProduct">NEW PRODUCT</p>
      <h2 class="h2">XX99 Mark II Headphones</h2>
      <p class="bodytext">
        The new XX99 Mark II headphones is the pinnacle of pristine audio. It
        redefines your premium headphone experience by reproducing the balanced
        depth and precision of studio-quality sound.
      </p>
      <h6 class="h6">$ 1,750</h6>
      <div class="add-to-cart">
        <app-addtocart-counter></app-addtocart-counter>
        <app-button
          btnLabel="ADD TO CART"
          className="btn-default-1"
        ></app-button>
      </div>
    </div>
  </div>
</div>
