<div class="product-top-container">
  <div class="product-top-container__product-top-wrapper">
    <div class="product-top-container__product-top-wrapper__product-photo">
      <img [src]="baseLink" alt="" />
    </div>
    <div class="product-top-container__product-top-wrapper__text-content">
      <p class="overline" *ngIf="product?.new">NEW PRODUCT</p>
      <h2 class="h2">{{ product?.name }}</h2>
      <p class="bodytext">
        {{ product?.description }}
      </p>
      <h6 class="h6">$ {{ product?.price }}</h6>
      <div class="add-to-cart">
        <app-addtocart-counter></app-addtocart-counter>
        <app-button
          btnLabel="ADD TO CART"
          className="btn-default-1"
        ></app-button>
      </div>
    </div>
  </div>
</div>
