<div class="cart-item-container">
  <div class="cart-item-container__wrapper">
    <div class="photo">
      <img
        src="../../../../assets/cart/image-xx99-mark-two-headphones.jpg"
        alt=""
      />
    </div>
    <div class="item-info">
      <div class="item-info__item-name">
        <span class="bodytext">XX99 MK II</span>
      </div>
      <p class="bodytext price">$ 2,999</p>
    </div>
    <div class="counter">
      <app-addtocart-counter [cart]="true"></app-addtocart-counter>
    </div>
  </div>
</div>
