<div class="cart-item-container">
  <div class="cart-item-container__wrapper">
    <div class="photo">
      <img [src]="imgLink" alt="" />
    </div>
    <div class="item-info">
      <div class="item-info__item-name">
        <span class="bodytext">{{ product.name }}</span>
      </div>
      <p class="bodytext price">$ {{ product.price }}</p>
    </div>
    <div class="counter">
      <app-addtocart-counter
        [count]="product.count"
        (countChange)="updateCount($event, product.id)"
        [cart]="true"
      ></app-addtocart-counter>
    </div>
  </div>
</div>
