.checkout-page-container {
  margin-top: 56px;
  padding: 0 2rem;

  &__wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .checkout-page-container {
    &__wrapper {
      flex-direction: column;

      app-checkout-summary {
        display: block;
        width: 100%;
      }
    }
  }
}
