<div class="cart-container">
  <div class="cart-container__cart-wrapper">
    <div class="cart-container__cart-wrapper__cart-header">
      <h6 class="h6">Cart (3)</h6>
      <button class="cart-remove-btn">Remove all</button>
    </div>
    <div class="cart-container__cart-wrapper__cart-content">content</div>
    <div class="cart-container__cart-wrapper__cart-summary">
      <p class="checkout-total-label">TOTAL</p>
      <span class="total-price">$ 5,99</span>
    </div>
    <app-button btnLabel="CHECKOUT" className="btn-default-1"></app-button>
  </div>
</div>
