@import "../../../assets/styles/variables.scss";

.go-back-container {
  padding: 0 2rem;
  margin-top: 79px;

  &__go-back-wrapper {
    max-width: 1110px;
    margin: auto;

    .btn-go-back {
      border: unset;
      background-color: unset;
      font-size: 15px;
      font-weight: medium;
      color: #7d7d7d;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        color: $darkOrange;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .go-back-container {
    margin-top: 32px;
  }
}
