<div class="go-back-container">
  <div class="go-back-container__go-back-wrapper">
    <button class="btn-go-back">Go Back</button>
  </div>
</div>
<app-product-top-section [product]="product"></app-product-top-section>
<app-product-description [product]="product"></app-product-description>
<app-product-gallery [product]="product"></app-product-gallery>
<app-also-like-section [product]="product"></app-also-like-section>
<app-category-section></app-category-section>
<app-about-section></app-about-section>
