<div
  [routerLink]="link"
  class="link-container"
  (mouseover)="onMouseOver()"
  (mouseout)="onMouseOut()"
>
  <div class="link-container__link-wrapper">
    <div class="link-container__link-wrapper__link-img link-img">
      <img [src]="photo" [alt]="photo" />
    </div>
    <div class="link-container__link-wrapper__link-text-content">
      <h3 class="h6">{{ title }}</h3>
      <app-button
        [hover]="isHovered"
        className="btn-default-3"
        btnLabel="SHOP"
      ></app-button>
    </div>
  </div>
</div>
