@import "../../../assets/styles/variables.scss";
@import "../button/button.component.scss";

.link-container {
  max-width: 350px;
  min-width: 223px;
  width: 100%;

  &__link-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;

      app-button {
        color: $darkOrange !important;
      }

      .link-img {
        top: 10px;
      }
    }

    &__link-img {
      position: absolute;
      top: 50%;
      left: 50%;
      top: 20px;
      transform: translate(-50%, -50%);
      transition: 0.2s;

      img {
        max-height: 220px;
      }
    }

    &__link-text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      background-color: #f1f1f1;
      padding: 116px 48px 15px 48px;
      border-radius: 8px;
      transition: 0.2s;
    }
  }
}

@media screen and (max-width: 771px) {
  .link-container {
    &__link-wrapper {
      &:hover {
        cursor: pointer;

        app-button {
          color: $darkOrange !important;
        }

        .link-img {
          top: -10px;
        }
      }

      &__link-img {
        top: 0px;
      }

      &__link-text-content {
        padding-top: 88px;
      }
    }
  }
}

// FOR MOBILE MENU

@media screen and (max-width: 750px) {
  .mobile-menu {
    .link-container {
      max-width: 327px;
      width: 100%;
      background-color: black;
    }

    .link-container__link-wrapper {
      &:hover {
        .link-img {
          top: 10px;
        }
      }

      &__link-text-content {
        padding-top: 78px;
      }
    }

    .link-img {
      top: 20px;
    }

    img {
      max-height: 150px;
    }

    h6 {
      font-size: 15px;
    }
  }
}
