<div class="product-description-container">
  <div class="product-description-container__product-description-wrapper">
    <div
      class="product-description-container__product-description-wrapper__features"
    >
      <h3 class="h3">FEATURES</h3>
      <p class="bodytext">
        {{ product?.features }}
      </p>
    </div>
    <div
      class="product-description-container__product-description-wrapper__inside-box"
    >
      <h3 class="h3">IN THE BOX</h3>
      <ul class="bodytext">
        <li *ngFor="let include of product?.includes">
          <span>{{ include.quantity }}x</span>{{ include.item }}
        </li>
      </ul>
    </div>
  </div>
</div>
