<a href="" class="btn btn-default-1">SEE PRODUCT</a>
<a href="" class="btn btn-default-2">SEE PRODUCT</a>
<a href="" class="btn btn-default-3">SHOP</a>

<input class="input" placeholder="placeholder" type="email" />

<label class="label-radio"
  >e-Money
  <input class="input-radio" type="radio" checked="checked" name="radio" />
  <span class="radio-checkmark"></span>
</label>
<label class="label-radio"
  >Two
  <input class="input-radio" type="radio" name="radio" />
  <span class="radio-checkmark"></span>
</label>
