<nav>
  <div class="nav-container">
    <div class="nav-container__nav-wrapper">
      <div class="nav-container__nav-wrapper__nav-hamburger">
        <button (click)="openMenu()" class="hamburger-button"></button>
        <div
          class="nav-container__nav-wrapper__nav-hamburger__mobile-container"
        >
          <app-mobile-menu *ngIf="showMenu"></app-mobile-menu>
        </div>
      </div>
      <div class="nav-container__nav-wrapper__logo">
        <a href=""
          ><img
            class="nav-logo"
            src="../../../assets/shared/desktop/logo.svg"
            alt="audiophile logo"
        /></a>
      </div>
      <div class="nav-container__nav-wrapper__menu">
        <ul>
          <li class="nav-link"><a href="">HOME</a></li>
          <li class="nav-link"><a href="">HEADPHONES</a></li>
          <li class="nav-link"><a href="">SPEAKERS</a></li>
          <li class="nav-link"><a href="">EARPHONES</a></li>
        </ul>
      </div>
      <div class="nav-container__nav-wrapper__cart-container">
        <button (click)="openCart()" class="cart-button"></button>
        <app-cart *ngIf="showCart"></app-cart>
      </div>
    </div>
  </div>
</nav>
<div (click)="openCart()" *ngIf="showCart" class="backdrop"></div>
<!-- <a href="" class="btn btn-default-1">SEE PRODUCT</a>
<a href="" class="btn btn-default-2">SEE PRODUCT</a>
<a href="" class="btn btn-default-3">SHOP</a> -->

<!-- <input class="input" placeholder="placeholder" type="email" />

<label class="label-radio"
  >e-Money
  <input class="input-radio" type="radio" checked="checked" name="radio" />
  <span class="radio-checkmark"></span>
</label>
<label class="label-radio"
  >Two
  <input class="input-radio" type="radio" name="radio" />
  <span class="radio-checkmark"></span>
</label> -->
