@import "../../../assets/styles/variables.scss";

nav {
  margin: auto;
  padding: 0rem 2rem;
}

.nav-container {
  max-width: 1110px;
  margin: auto;
  &__nav-wrapper {
    display: flex;
    padding: 2rem 0rem;
    border-bottom: 1px solid #414141;
    justify-content: space-between;

    &__nav-hamburger {
      display: none;

      &__mobile-container {
        position: relative;
        app-mobile-menu {
          position: absolute;
          z-index: 5;
          top: 55px;
          left: 0;
        }
      }
    }

    .cart-button {
      background-image: url("../../../assets/shared/desktop/icon-cart.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      background-color: unset;
      border: unset;

      &:hover {
        cursor: pointer;
      }
    }

    &__cart-container {
      position: relative;

      app-cart {
        position: absolute;
        z-index: 5;
        top: 84px;
        right: 0;
      }
    }

    &__menu {
      max-width: 427px;

      ul {
        display: flex;
        flex-direction: row;

        .nav-link {
          list-style-type: none;
          justify-content: space-between;
          align-items: center;

          a {
            color: white;
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 2px;
            margin-right: 2rem;
            transition: 0.2s;

            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }
}

.product-nav {
  background-color: $black;
  border-bottom: unset;
}

@media screen and (max-width: 690px) {
  .nav-container {
    &__nav-wrapper {
      &__nav-hamburger {
        display: block;
        .hamburger-button {
          background-image: url("../../../assets/home/mobile/hamburger.svg");
          background-position: center;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          background-color: unset;
          border: unset;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &__menu {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .nav-container {
    &__nav-wrapper {
      &__nav-hamburger {
        &__mobile-container {
          position: static;
          app-mobile-menu {
            position: absolute;
            z-index: 1000;
            left: 0;
            right: 0;
            top: 96px;
          }
        }
      }

      &__cart-container {
        position: static;

        app-cart {
          position: absolute;
          z-index: 1000;
          right: unset;
          top: 116px;
          left: 50%;
          transform: translate(-50%);
        }
      }
    }
  }
}

.backdrop {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: calc(100% - 94px);
}
