nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-container {
  margin: auto;
  background-color: black;
  padding: 2rem 2rem;
}

.nav-container__nav-wrapper {
  margin: auto;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
}

.nav-container__nav-wrapper__cart-button {
  background-image: url("../../../assets/shared/desktop/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: unset;
  border: unset;
}

.nav-container__nav-wrapper__cart-button:hover {
  cursor: pointer;
}

.nav-container__nav-wrapper__menu {
  max-width: 427px;
}

.nav-container__nav-wrapper__menu ul {
  display: flex;
  flex-direction: row;
}

.nav-container__nav-wrapper__menu ul .nav-link {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.nav-container__nav-wrapper__menu ul .nav-link a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
  margin-right: 2rem;
  transition: 0.2s;
}

.nav-container__nav-wrapper__menu ul .nav-link a:hover {
  color: orange;
}
