<nav [ngClass]="{ 'product-nav': productNav }">
  <div class="nav-container">
    <div class="nav-container__nav-wrapper">
      <div class="nav-container__nav-wrapper__nav-hamburger">
        <button (click)="openMenu()" class="hamburger-button"></button>
        <div
          class="nav-container__nav-wrapper__nav-hamburger__mobile-container"
        >
          <app-mobile-menu
            *ngIf="showMenu"
            (mobileItem)="openMenu()"
          ></app-mobile-menu>
        </div>
      </div>
      <div class="nav-container__nav-wrapper__logo">
        <a [routerLink]="['/']"
          ><img
            class="nav-logo"
            src="assets/shared/desktop/logo.svg"
            alt="audiophile logo"
        /></a>
      </div>
      <div class="nav-container__nav-wrapper__menu">
        <ul>
          <li class="nav-link"><a [routerLink]="['/']">HOME</a></li>
          <li class="nav-link">
            <a [routerLink]="['category/headphones']">HEADPHONES</a>
          </li>
          <li class="nav-link">
            <a [routerLink]="['category/speakers']">SPEAKERS</a>
          </li>
          <li class="nav-link">
            <a [routerLink]="['category/earphones']">EARPHONES</a>
          </li>
        </ul>
      </div>
      <div class="nav-container__nav-wrapper__cart-container">
        <button (click)="openCart()" class="cart-button">
          <span class="cart-count-info" *ngIf="products.length > 0">{{
            totalCount
          }}</span>
        </button>

        <app-cart
          [products]="products"
          [totalPrice]="totalPrice"
          [totalCount]="totalCount"
          (closeCart)="openCart()"
          *ngIf="showCart"
        ></app-cart>
      </div>
    </div>
  </div>
</nav>
<div (click)="closeModal()" *ngIf="showCart || showMenu" class="backdrop"></div>
