<div class="modal-container" *ngIf="modal">
  <div class="modal-container__wrapper">
    <div class="order-confirm-icon">
      <img src="../../../assets/checkout/icon-order-confirmation.svg" alt="" />
    </div>
    <h3 class="h3">THANK YOU <br />FOR YOUR ORDER</h3>
    <p class="bodytext">You will receive an email confirmation shortly.</p>
    <div class="checkout-info">
      <div class="products">
        <app-checkout-item></app-checkout-item>
        <div class="other-items">
          <p>and 2 other item(s)</p>
        </div>
      </div>
      <div class="grand-total">
        <div class="grand-total__content">
          <p class="bodytext">GRAND TOTAL</p>
          <h6 class="h6">$ 5,446</h6>
        </div>
      </div>
    </div>
    <app-button [btnLink]="''" btnLabel="BACK TO HOME"></app-button>
  </div>
</div>
<div (click)="backToHome()" *ngIf="modal" class="backdrop"></div>
