@import "../../../assets/styles/variables.scss";

.modal-container {
  background-color: $white;
  border-radius: 8px;

  max-width: 540px;
  position: absolute;
  z-index: 100001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__wrapper {
    padding: 3rem;
    .order-confirm-icon {
      margin-bottom: 2rem;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    .bodytext {
      color: #808080;
      margin-bottom: 2rem;
    }

    .checkout-info {
      display: flex;
      margin-bottom: 2rem;

      .products {
        background-color: #f1f1f1;
        padding: 1.5rem;
        border-radius: 8px 0 0 8px;
        width: 255px;

        .other-items {
          border-top: 1px solid #dedede;

          p {
            text-align: center;
            margin-top: 12px;
            font-size: 12px;
            font-weight: bold;
            color: #797979;
          }
        }
      }

      .grand-total {
        background-color: $black;
        border-radius: 0 8px 8px 0;
        width: 198px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__content {
          .bodytext {
            letter-spacing: 0px;
            margin-bottom: 8px;
          }

          .h6 {
            text-align: left;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .modal-container {
    &__wrapper {
      .checkout-info {
        display: flex;
        flex-direction: column;

        width: 263px;

        .products {
          border-radius: 8px 8px 0 0;
          width: unset;

          .other-items {
            p {
              text-align: center;
              margin-top: 12px;
              font-size: 12px;
              font-weight: bold;
              color: #797979;
            }
          }
        }

        .grand-total {
          background-color: $black;
          border-radius: 0 0 8px 8px;
          width: unset;
          padding: 1rem 1.5rem;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }
  }
}

.backdrop {
  position: absolute;
  z-index: 10000;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
