// ### COLOR VARIABLES

$darkOrange: #d87d4a;
$lightBlack: #101010;
$lightGrey: #f1f1f1;
$dirtyWhite: #fafafa;
$lightOrange: #fbaf85;
$white: #ffffff;
$black: #000000;

* {
  font-family: "Manrope", sans-serif;
}

// ### TEXT CLASSES

.h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $black;
}

.h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $black;
}

.h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  color: $black;
}

.h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $black;
}

.h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: $black;
}

.h6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $black;
}

.overline {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: $darkOrange;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $darkOrange;
}

.bodytext {
  font-size: 15px;
  font-weight: medium;
  line-height: 25px;
  color: $black;
}

// ### BUTTON CLASSES

.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.btn-default-1 {
  color: white;
  border: solid 1px $darkOrange;
  background-color: $darkOrange;

  &:hover {
    border: solid 1px $lightOrange;
    background-color: $lightOrange;
  }
}

.btn-default-2 {
  color: black;
  border: solid 1px $black;
  background-color: unset;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

.btn-default-3 {
  color: #808080;

  &::after {
    content: url("assets/shared/desktop/icon-arrow-right.svg");
    position: relative;
    left: 11px;
    top: 2px;
  }

  &:hover {
    color: $darkOrange;
  }
}

// ### FORMS ELEMENTS

.input {
  font-size: 14px;
  font-weight: bold;
  padding: 17px 24px;
  letter-spacing: -0.25px;
  outline: unset;
  border: 2px solid #cfcfcf;
  border-radius: 8px;
  color: $black;
  transition: 0.2s;

  &::placeholder {
    color: #999999;
  }

  &:focus {
    border: 2px solid $darkOrange;
  }

  &:user-invalid {
    border: 2px solid #cd2c2c;
  }
}

/* The container */
.label-radio {
  display: block;
  border: 2px solid #cfcfcf;
  border-radius: 8px;
  padding: 17px 24px 17px 61px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s;

  &:hover {
    border-color: $darkOrange;
  }
}

/* Hide the browser's default radio button */
.label-radio .input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  height: 20px;
  width: 20px;
  background-color: unset;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  transition: 0.2s;
}

/* On mouse-over, add a grey background color */
.label-radio:hover .input-radio ~ .radio-checkmark {
  border: 1px solid $darkOrange;
}

/* When the radio button is checked, add a blue background */
.label-radio:has(.input-radio:checked) {
  border-color: $darkOrange;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-radio .input-radio:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label-radio .radio-checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $darkOrange;
}
