* {
  font-family: "Manrope", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

.h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000000;
}

.h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  color: #000000;
}

.h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #000000;
}

.h6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #000000;
}

.overline {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d87d4a;
}

.bodytext {
  font-size: 15px;
  font-weight: medium;
  line-height: 25px;
  color: #000000;
}
