* {
  font-family: "Manrope", sans-serif;
}

.h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000000;
}

.h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  color: #000000;
}

.h4 {
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #000000;
}

.h6 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #000000;
}

.overline {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
}

.subtitle {
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d87d4a;
}

.bodytext {
  font-size: 15px;
  font-weight: medium;
  line-height: 25px;
  color: #000000;
}

.btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.btn-default-1 {
  color: white;
  border: solid 1px #d87d4a;
  background-color: #d87d4a;
}

.btn-default-1:hover {
  border: solid 1px #fbaf85;
  background-color: #fbaf85;
}

.btn-default-2 {
  color: black;
  border: solid 1px #000000;
  background-color: unset;
}

.btn-default-2:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-default-3 {
  color: #808080;
}

.btn-default-3::after {
  content: url("assets/shared/desktop/icon-arrow-right.svg");
  position: relative;
  left: 11px;
  top: 2px;
}

.btn-default-3:hover {
  color: #d87d4a;
}

.input {
  font-size: 14px;
  font-weight: bold;
  padding: 17px 24px;
  letter-spacing: -0.25px;
  outline: unset;
  border: 2px solid #cfcfcf;
  border-radius: 8px;
  color: #000000;
  transition: 0.2s;
}

.input::placeholder {
  color: #999999;
}

.input:focus {
  border: 2px solid #d87d4a;
}

.input:user-invalid {
  border: 2px solid #cd2c2c;
}
