// ### COLOR VARIABLES

$darkOrange: #d87d4a;
$lightBlack: #101010;
$darkerGrey: #808080;
$lightGrey: #f1f1f1;
$dirtyWhite: #fafafa;
$lightOrange: #fbaf85;
$white: #ffffff;
$black: #000000;
$mainHeaderBackground: #121212;
