<div class="mobile-menu-container">
  <div class="mobile-menu-container__mobile-menu-wrapper">
    <app-category-link
      link="category/headphones"
      [mobileMenu]="true"
      title="HEADPHONES"
      photo="../../assets/shared/desktop/image-category-thumbnail-headphones.png"
    ></app-category-link>
    <app-category-link
      link="category/speakers"
      [mobileMenu]="true"
      title="SPEAKERS"
      photo="../../assets/shared/desktop/image-category-thumbnail-speakers.png"
    ></app-category-link>
    <app-category-link
      link="category/earphones"
      [mobileMenu]="true"
      title="EARPHONES"
      photo="../../assets/shared/desktop/image-category-thumbnail-earphones.png"
    ></app-category-link>
  </div>
</div>
