<div class="category-container">
  <div class="category-container__category-wrapper">
    <app-category-link
      title="HEADPHONES"
      photo="../assets/shared/desktop/image-category-thumbnail-headphones.png"
    ></app-category-link>
    <app-category-link
      title="SPEAKERS"
      photo="../assets/shared/desktop/image-category-thumbnail-speakers.png"
    ></app-category-link>
    <app-category-link
      title="EARPHONES"
      photo="../assets/shared/desktop/image-category-thumbnail-earphones.png"
    ></app-category-link>
  </div>
</div>
