.category-container {
  padding: 0 2rem;
  margin-top: 230px;
}

.category-container__category-wrapper {
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-container__category-wrapper app-category-link {
  max-width: 350px;
  width: 100%;
}

.category-container__category-wrapper app-category-link:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (max-width: 771px) {
  .category-container__category-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .category-container__category-wrapper app-category-link:not(:last-child) {
    margin-right: unset;
  }
  .category-container__category-wrapper app-category-link:not(:first-child) {
    margin-top: 138px;
  }
}
