<div class="category-container">
  <div class="category-container__category-wrapper">
    <app-category-link
      link="/category/headphones"
      title="HEADPHONES"
      photo="assets/shared/desktop/image-category-thumbnail-headphones.png"
    ></app-category-link>
    <app-category-link
      link="/category/speakers"
      title="SPEAKERS"
      photo="assets/shared/desktop/image-category-thumbnail-speakers.png"
    ></app-category-link>
    <app-category-link
      link="/category/earphones"
      title="EARPHONES"
      photo="assets/shared/desktop/image-category-thumbnail-earphones.png"
    ></app-category-link>
  </div>
</div>
